#container{
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
}

BODY{
  font-family: 'PT Serif', serif;
  font-family: 'Montserrat', sans-serif;
}


p{
 text-align:left;
 line-height:180%;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}


.navbar {
 font-family: 'Montserrat', sans-serif;

}

a:link {
  text-decoration: none;
  color: #e0162b;
}

a:visited{
  text-decoration: none;
  color:#999;
}

a:hover{
  text-decoration: none;
  color:#0052a5;
}

.star-top{
  font-family:'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
  padding-right: 5px;
  width:15px;
  height: 15px;
}


.hero{
  width: 100%;
  text-align:center;
}

.hero-image{
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-center-hed{
  font-family:'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 700; bold;
  text-align: center;
}

.text-center subhed{
  font-weight: bold;
}

.byline{
  font-size: 12px;
}

.text{
  font-family:'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  margin:auto;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.star-intro{
  width:20px;
  height: 20px;
  padding: 2px;
}

.four-stars{
  text-align: center;
}

.two-stars{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;
}

#reusable{
  font-family: 'PT Serif', serif;
  font-size: 1em;
}

.stack-image{
width:100%;
max-width:900px;
margin:0 auto;
padding-top:30px;
text-align: center;
}

.caption{
width:100%;
max-width:900px;
margin:0 auto;
padding-bottom:30px;
font-family: 'Montserrat', sans-serif;
color:#999;
}

.graphic-container h2{
  font-size: 2em;
  margin:0 auto;
  text-align: center;
}

.graphic-container{
padding-top:30px;
padding-bottom:30px;
border-top:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
font-family: 'Montserrat', sans-serif;
margin:0 auto;
text-align: center;
}

.map{
  width:100%;
  max-width:1000px;
  margin:0 auto;
  padding-top:30px;
  text-align: center;
}

.data{
  background-color: lightgrey;
    width: 900px;
    padding: 25px;
    margin: 25px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.timeline{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.footer{
  text-align: center !important;
  background-color: black;
  color: white;
  height: 100px;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
}
