/*Navbar colors*/
.navbarSupportedContent{
  color:#820c1f !important;
}
.nav-link{
  color:#820c1f !important;
}
/*end Navbar colors*/


/*Header*/
.jumbotron{
  margin-bottom: 15px;
}
#img{
  width: 100%
}
/*end header*/


/*Info & About Links*/
.blockquote{
  font-size: inherit;
  line-height: inherit;
  font-family: 'Montserrat', sans-serif;
}
#links{
    text-align:center;
    font-size: 25px;
    padding-bottom: 150px;
}
#section1{
  text-align: center;
  color:#820c1f;
  padding-bottom: 10px;
}
#carousel{
  width:350px;
  height:500px;
  margin: auto;
}
#img{
  border-radius:8px;
}
.blockquote{
  text-align:center;
  padding-bottom: 40px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}
/*End Info & About Links*/

/*Work Experience*/
#section2{
  text-align: center;
  color:#820c1f;
  padding-top: 100px;
  padding-bottom: 100px;
}
#jobs{
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 35px;
}
/*End work experience*/

/*Education Section*/
#degrees{
  color:#091b2c;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.double{
  border-style: double;
}
/*End Education Section*/

/*Skills Section*/
#skills{
  text-align: left;
  color:#091b2c;
  font-family: 'Montserrat', sans-serif;
}
/*end Skills section*/

/*Footer*/
#copyright{
  text-align: center;
  color:#820c1f;
  padding-top: 50px;
}
/*End Footer*/
