.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*Navbar colors*/
.navbarSupportedContent{
  color:#820c1f !important;
}
.nav-link{
  color:#820c1f !important;
}
.btnbtn-outline-successmy-2 my-sm-0{
  color:#820c1f !important;
}
/*end Navbar colors*/



.jumbotronjumbotron-fluid{
  background-size: auto 100% !important;
}


.about{
  text-align: center;
  color:#091b2c;
}

.col-3{
    text-align:center;
    padding-bottom: 75px;
}



#sections{
  text-align:center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #7ca3b8;
}

#degrees{
  color:#091b2c;
  text-align: center;
}
