.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar{
  background-color: #7ca3b8;
}

.jumbotron{
  background-color: #7ca3b8;
  color: white;
  text-align:center;
}
.display-4{
  color:#091b2c
  text-align:center;
  font-family: 'Krub', sans-serif;
}
.lead{
  text-align:center;
  color:#091b2c;
}
.col-3{
    text-align:center;
    padding-bottom: 75px;
}

.col-12{
  text-align:center;
  color: white;
  padding-bottom: 75px
  background-color:#7ca3b8;
}
