/*styles for my resume */

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #444;
}
h1{
  font-size: 3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
}
h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color background: #33485e;
  color: white;
  strong: 400;
}
h3{
  strong:600;
  font-size: 1.5em;
}
h4{
  strong:400;
  font-size: 1.5em;
}
h5{
  strong:400;
  font-size: 1em;
  font-style: italic;
}
li{
  font-size: 1em;
}
