/*styles for my resume */

body{
  font-family: 'Open Sans', arial, sans-serif;
}

/*Main Page Container*/
#container {
  width:100%;
  max-width:1200px;
  margin: 0 auto;
  padding-bottom:50px;
}
/*Title-Name*/
#name {
  font-size:3em;
  text-transform: uppercase;
  text-align:center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*Section Titles*/
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: : 400;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;
  padding-left:20px;
}

#title {
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  font-size:1.5em;
  font-weight: 600;
  margin: 20px 0 0 0;
}

/*Jobs*/
.jobtitle {
  font-weight: :600;
  font-size: 1.5em;
}


/*Job Location*/
.organization {
  font-weight: :400;
  font-size: 1.25em;
}

/*Dates I worked there*/
.date{
  font-weight: :400;
  font-size: 1em;
  font-style: italic;
  margin: 2px 0 0 0;
}

/*Mission @ top of screen*/
.description{
  margin: 10px 0 10px 0;
}

/*Contact Info*/
.menu{
  margin: 0;
  padding:0;
  text-align: center;
}
/*Contact Deets*/
.menu li{
  display: inline;
}

/*Edu*/
#degrees{
  margin: 5px 0 0 0;
}

/*Skills*/
#do {
  margin: 5px 0 0 0;
}

.top{
  width: 60%;
  min-width: 300x;
  margin: 0 auto;
  margin-bottom: 30px;
}

li {
  font-size:1em;
