#container{
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
}

.hero{
  width: 100%;
  text-align:center;
}

.hero-image{
  width: 100%;
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.intro-photo{
  width: 100%;
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.byline{
font-size: 12px;
}

.text{
  font-family: helvetica, sans-Serif;
  padding-top: 5px;
  text-align: justify;
}
.img{
  margin:0 auto;
  width:500px;
  height: 500px;
  padding-top: 15px;
color: grey;
}


table {
    font-family: helvetica,sans-Serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.footer{
  background-color: black;
  color: white;
}
#columns{
  text-align: center;
  padding-bottom: 40px;
}
