#container{
  max-width: 1000px;
  width: 100%;
  margin:0 auto;
}
.byline{
font-size: 12px;
}
.img{
  margin:0 auto;
  width:500px;
  height: 500px;
}
.footer{
  background-color: black;
  color: white;
}
