#content{
  margin: 0 auto;
  width:900px;
}

.headline{
  font-family: helvetica, arial, sans-serif;
  font-size: 35px;
}

.byline{
  font-family:helvetica, arial, san-sans-serif;
  font-size:14px;
  font-style: italic;
}

.text{
  font-family: georgia, times, serif;
  font-size:13px;
}

.caption{
  font-family:helvetica, arial, sans-serif;
  font-size: 9px;
}
